
.cerca_aulas{
    display: flex;
    height: 100vh;
}
.container_guia_aulas{
    display: flex;
    align-items: flex-end;
    min-height: 100vh;
    width: 230px;
    border-right: 4px solid rgba(173, 11, 79,1);
    background-image: url(../imagens/fundo_aula_tecnologia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Listas */
.espaco_E1{
    width: 100%;
    height: 5vh;
}

.opcoes_de_aula{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
/* Linguagem de programação */

.titulo_categoria{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
 .o_que_aprender{
     margin-left: 10%;
     font: bolder 25px Indie Flower, cursive;
    color: white;
}
.categoria{
    color: white;
    font: bolder;
}
.drop_lista_linguagem{
    z-index: 100;
    width: 90%;
    animation: dropar_informacao 0.5s linear;
}

@keyframes dropar_informacao{
    from{
        transform: translateY(-40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.lista_linguagens{
    color: white;
    font: 900 20px Radley, serif;
}
.lista_linguagens:hover{
    cursor: pointer;
    color: rgba(173, 11, 79,1);
}
/* fim de linguagns de programação */


/* ArqComp */
.drop_arq_comp{
    width: 90%;
    animation: dropar_informacao 0.5s linear;
}
/* fim de ArqComp */


/* fim das listas */

/* CONTEUDO LADO DIREITO */
.espaco_E2{
    height: 10vh;
    width: 100%;
}
.cerca_conteudo{
    width: 100%;
    padding: 8px;
}

.conteudo_pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.conteudo_pagina h1{
    font: bolder 40px Arial, cursive;
    color: rgba(173, 11, 79,1);
}
.introducao{
    width: 700px;
    font: 600 20px Radley,serif;
}

/* icones da página */
.icon_chevron_right:hover{
    transform: scale(1.1) rotateZ(90deg);
    cursor: pointer;
}


.cerca_html_js{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.cerca_html_js div{
display: flex;
justify-content: center;
color: rgba(173, 11, 79,1);
}
.ul_tema_aula{
    font: 500 27px Pacifico;
}
.ul_tema_aula li:hover{
    cursor: pointer;
    animation: balanca_caixao 1s ;
}
@keyframes balanca_caixao{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(360deg);
        font: underline;
    }
}